<!-- components/footer.html -->
<footer>
    <div class="container">
        <p>&copy; 2023 SecurityService. Все права защищены.</p>
        <address>
            г. Москва, ул. Ленина, д. 1<br>
            Телефон: +7 (495) 123-45-67<br>
            Email: info@securityservice.ru
        </address>
        <div class="socials">
            <a href="https://vk.com/club230537239 " target="_blank" rel="noopener noreferrer">Связаться с нами во ВКонтакте</a>
        </div>
    </div>
</footer>